.avatarCard {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.avatarCard h1 {
  text-align: center;
}

.avatarsContainer {
  position: relative;
  width: fit-content;
  align-self: center;
}

.avatarRoot {
  position: relative;
}

.avatarInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.8rem;
}

.avatarContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
}

.avatarContainerLeft {
  position: absolute;
  bottom: -60%;
  left: -60%;
}

.avatarContainerRight {
  position: absolute;
  bottom: -60%;
  right: -50%;
}
