.card {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  width: 100%;
  border-radius: 8px;
  border: 1px solid #ccc;
  padding: 1rem;
}

.cardHeader {
  display: grid;
  gap: 1rem;
  grid-template-columns: auto 1fr;
  align-items: center;
}

.cardHeaderContent {
  display: flex;
  flex-direction: column;
}

.cardHeaderContent > h3 {
  font-size: 1rem;
  margin: 0;
}
